* {
    box-sizing: border-box;
}

body {
    font-family: Calibri;
}

div.container_header {
    background-size: 100%;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    padding: 5px;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

div.container_footer {
    background-color: cadetblue;
    text-align: center;
    display: flex;
    border-radius: 10px;
    width: 95%;
    height: 550px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

}

#drinkOrder {
    flex-direction: column;
    margin: 10px;
    background-color: gainsboro;
    border-radius: 10px;
    width: 45%;
    overflow: auto;

}

#drinkMenu {
    margin: 10px;
    border-radius: 10px;
    background-color: gainsboro;
    width: 55%;
    overflow: auto;

}

table.drinksOrder {
    width: 100%;
    padding: 20px;
    text-align: center;

}

table.drinkMenu {
    width: 100%;
    padding: 20px;
    text-align: center;

}

th {
    border-bottom: 2px solid #a8a8a8;

}

td {
    border-bottom: 2px solid #a8a8a8;

}

